<a href="https://colab.research.google.com/github/marlosvalle/datascience/blob/main/Remumeracao_DF_jan_a_abr_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
# Importando Biblioteca Pandas
import pandas as pd
import numpy as np

In [22]:
# Importando dados dos Arquivos CSV (Mês 01/2022 a 04/2022, Remuneração Servidores do DF disponível no site http://www.transparencia.df.gov.br/#/downloads#downloadServidores)
dataset1 = pd.read_csv('/content/drive/MyDrive/DataSets/remuneracao_servidores/DF/Remuneracao_2022_01.csv', sep = ';', encoding='latin-1')
dataset2 = pd.read_csv('/content/drive/MyDrive/DataSets/remuneracao_servidores/DF/Remuneracao_2022_02.csv', sep = ';', encoding='latin-1')
dataset3 = pd.read_csv('/content/drive/MyDrive/DataSets/remuneracao_servidores/DF/Remuneracao_2022_03.csv', sep = ';', encoding='latin-1')
dataset4 = pd.read_csv('/content/drive/MyDrive/DataSets/remuneracao_servidores/DF/Remuneracao_2022_04.csv', sep = ';', encoding='latin-1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [26]:
#Concatena Dataframe, axis = 0 por linha como se fosse append e axis = 1 por coluna; deleta as variáveis Dataframes de apoio
df = pd.concat([dataset1, dataset2, dataset3, dataset4], axis = 0)
del dataset1, dataset2, dataset3, dataset4

In [28]:
#Função .info apresenta as informações gerais do dataframe, número linhas, colunas, tipo de dados dos campos, memória alocada
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 953983 entries, 0 to 245787
Data columns (total 27 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   NOME                           722567 non-null  object
 1   CPF                            722567 non-null  object
 2   ÓRGÃO                          722567 non-null  object
 3   CARGO                          695141 non-null  object
 4   FUNÇÃO                         691632 non-null  object
 5   SITUAÇÃO                       722567 non-null  object
 6   MÊS                            722567 non-null  float64
 7   ANO                            722567 non-null  float64
 8   CÓDIGO DO ÓRGÃO                722567 non-null  float64
 9   MATRÍCULA                      722567 non-null  object
 10  REMUNERAÇÃO BÁSICA             722564 non-null  object
 11  BENEFÍCIOS                     722567 non-null  object
 12  VALOR DA FUNÇÃO                722567 non-null  object
 13  COMISSÃO CONSELHEIRO           722567 non-null  object
 14  HORA EXTRA                     722567 non-null  object
 15  VERBAS EVENTUAIS               722567 non-null  object
 16  VERBAS JUDICIAIS               722567 non-null  object
 17  DESCONTOS A MAIOR              722567 non-null  object
 18  LICENÇA PRÊMIO                 722567 non-null  object
 19  IRRF                           722567 non-null  object
 20  SEG. SOCIAL                    722567 non-null  object
 21  TETO REDUTOR                   722567 non-null  object
 22  OUTROS RECEBIMENTOS            722567 non-null  object
 23  OUTROS DESCONTOS OBRIGATÓRIOS  722567 non-null  object
 24  PAGAMENTOS A MAIOR             722567 non-null  object
 25  BRUTO                          722564 non-null  object
 26  LÍQUIDO                        722567 non-null  object
dtypes: float64(3), object(24)
memory usage: 203.8+ MB

In [29]:
#Substitui , por . e transforma em float. Só se faz uma vez, na segunda dá erro, pois o dado já foi transformado
df['BRUTO'] = df['BRUTO'].str.replace(',','.').astype(float)
df['LÍQUIDO'] = df['LÍQUIDO'].str.replace(',','.').astype(float)

In [30]:
#Análise exploratória usando describe() somente nos campos números do Dataframe
df.describe(include=[np.number])

                 MÊS       ANO  CÓDIGO DO ÓRGÃO          BRUTO        LÍQUIDO
count  722567.000000  722567.0     7.225670e+05  722564.000000  722567.000000
mean        3.019796    2022.0     4.001031e+05   10094.710616    7846.545368
std         0.812485       0.0     5.742905e+05    8239.752104    6854.747625
min         2.000000    2022.0     1.000010e+05    -860.180000 -133168.680000
25%         2.000000    2022.0     1.005520e+05    5607.920000    4742.610000
50%         3.000000    2022.0     1.006520e+05    9086.810000    7164.030000
75%         4.000000    2022.0     1.009900e+05   12296.370000    9604.455000
max         4.000000    2022.0     2.119207e+06  572099.300000  565889.940000

In [31]:
# Oculta as colunas listadas e forma um novo dataset com apenas parte das colunas, como se fosse uma VIEW do dataset principal
df_limited = df.drop(['ANO','MÊS','DESCONTOS A MAIOR','LICENÇA PRÊMIO','IRRF','SEG. SOCIAL','TETO REDUTOR','OUTROS RECEBIMENTOS','BENEFÍCIOS','FUNÇÃO','COMISSÃO CONSELHEIRO','HORA EXTRA','OUTROS DESCONTOS OBRIGATÓRIOS','PAGAMENTOS A MAIOR','VERBAS JUDICIAIS','VALOR DA FUNÇÃO','MATRÍCULA','SITUAÇÃO','VERBAS EVENTUAIS','NOME'], axis = 1)

In [32]:
#Apura a média das remunerações bruta e líquida por Cargo/Órgão
df_limited.groupby(['CARGO','CÓDIGO DO ÓRGÃO']).mean()

                                                       BRUTO       LÍQUIDO
CARGO                          CÓDIGO DO ÓRGÃO
                               100001.0          3087.482944   2429.607101
                               100004.0          4042.083217   3466.008404
                               100007.0          5068.926692   3674.565736
                               100008.0          5142.715377   4161.951132
                               100010.0          5106.787905   4234.977830
...                                                      ...           ...
TÉCNICO EM CONTABILIDADE       1800130.0        14174.335000  10983.682500
TÉCNICO EM PROC. DE DADOS      300001.0         32888.267778  21378.976667
TÉCNICO EM SEG. DO TRABALHO    300001.0         15110.650000  11489.173333
VIGIA                          100120.0          7392.205000   7350.787500
                               100320.0         10468.793333   8707.213333

[1581 rows x 2 columns]

In [33]:
# Filtra Salário Líquido > 80000 no DataFrame Original
df.query('LÍQUIDO > 80000')

,NOME,CPF,ÓRGÃO,CARGO,FUNÇÃO,SITUAÇÃO,MÊS,ANO,CÓDIGO DO ÓRGÃO,MATRÍCULA,...,DESCONTOS A MAIOR,LICENÇA PRÊMIO,IRRF,SEG. SOCIAL,TETO REDUTOR,OUTROS RECEBIMENTOS,OUTROS DESCONTOS OBRIGATÓRIOS,PAGAMENTOS A MAIOR,BRUTO,LÍQUIDO
24734,CARMEN PINAGE LOPES ...,***416607**,EMPRESA DE ASSISTENCIA TECNICA E EXTENSAO RURA...,EXTENSIONISTA RURAL-NS,...,ATIVO,2.0,2022.0,100122.0,00002852,...,",00",",00","17834,33","828,38",",00",",00",",00",",00",101824.20,83161.49
24781,ANTONIO CARLOS DOS SANTOS MENDES ...,***128101**,EMPRESA DE ASSISTENCIA TECNICA E EXTENSAO RURA...,EXTENSIONISTA RURAL-NS,...,ATIVO,2.0,2022.0,100122.0,00005061,...,",00",",00","19532,39","828,38","834,86",",00",",00",",00",111117.83,89922.20
24801,DENISE ANDRADE DA FONSECA ...,***559041**,EMPRESA DE ASSISTENCIA TECNICA E EXTENSAO RURA...,TECNICO ESPECIALIZADO,PRESIDENTE ...,ATIVO,2.0,2022.0,100122.0,00006084,...,",00",",00","21347,04","828,38","3808,69",",00",",00",",00",109084.45,83100.34
176823,WALMOR GARCIA MOTA,***451591**,BRB-BANCO DE BRASILIA S.A.,ESCRITURÁRIO,GERENTE GERAL 1,TRABALHANDO,2.0,2022.0,300001.0,5567,...,",00",",00","30455,58","3616,83",",00","1926,44",",00",",00",118851.17,84778.76
177811,EDMAGNO ELIAS DE OLIVEIRA,***527231**,BRB-BANCO DE BRASILIA S.A.,ESCRITURÁRIO,GERENTE GERAL 1,TRABALHANDO,2.0,2022.0,300001.0,81699,...,",00",",00","31550,07","4089,64",",00",",00",",00",",00",122833.41,87193.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237061,NELSON GONCALVES DOS SANTOS,***993501**,CORPO DE BOMBEIRO MILITAR DO DISTRITO FEDERAL ...,PRIMEIRO SARGENTO,S/NIVEL FUNCAO,APOSENTADO,4.0,2022.0,1599072.0,1403665,...,",00","171134,97","1335,96","1127,05",",00",",00","56,11","28,33",182290.60,179743.15
237182,SHEYLA ALVES DE SOUZA,***028941**,CORPO DE BOMBEIRO MILITAR DO DISTRITO FEDERAL ...,PRIMEIRO SARGENTO,S/NIVEL FUNCAO,APOSENTADO,4.0,2022.0,1599072.0,1404248,...,",00","87792,74","1276,27","964,67",",00",",00","41,17",",00",98743.57,96461.46
237242,SERGIO MARQUES VALADARES,***065131**,CORPO DE BOMBEIRO MILITAR DO DISTRITO FEDERAL ...,SUBTENENTE,S/NIVEL FUNCAO,APOSENTADO,4.0,2022.0,1599072.0,1404709,...,",00","255196,54","1459,49","1247,10",",00",",00","108,18","56,67",267531.70,264660.26
237267,CLENIO DUARTE MIRANDA,***426161**,CORPO DE BOMBEIRO MILITAR DO DISTRITO FEDERAL ...,SUBTENENTE,S/NIVEL FUNCAO,APOSENTADO,4.0,2022.0,1599072.0,1404901,...,",00","157216,32","1551,79","1084,44",",00",",00","60,26","85,00",169486.94,166705.45
237305,ROGERIO FERREIRA DE ARAUJO,***208886**,CORPO DE BOMBEIRO MILITAR DO DISTRITO FEDERAL ...,SUBTENENTE,S/NIVEL FUNCAO,APOSENTADO,4.0,2022.0,1599072.0,1405359,...,",00","226776,54","1559,73","1087,83",",00",",00","60,26","28,33",239079.43,236343.28

In [34]:
#Análise geral do dataset
df_limited.describe()

       CÓDIGO DO ÓRGÃO          BRUTO        LÍQUIDO
count     7.225670e+05  722564.000000  722567.000000
mean      4.001031e+05   10094.710616    7846.545368
std       5.742905e+05    8239.752104    6854.747625
min       1.000010e+05    -860.180000 -133168.680000
25%       1.005520e+05    5607.920000    4742.610000
50%       1.006520e+05    9086.810000    7164.030000
75%       1.009900e+05   12296.370000    9604.455000
max       2.119207e+06  572099.300000  565889.940000

In [35]:
# Faz agrupamento usando a função groupby, somando salário líquido
df_gpr = df_limited.groupby(["CPF","CARGO"]).sum("LÍQUIDO")

In [36]:
#Filtra pela parcial do CPF informado
cpf = input ("Digite a parcial do CPF ***XXXXXX**: ")
df_gpr_f = df_gpr.query(f"CPF == '***{cpf}**'")
df_gpr_f

Digite a parcial do CPF ***XXXXXX**: 291441

                                            CÓDIGO DO ÓRGÃO     BRUTO  \
CPF         CARGO
***291441** AGENTE DE POLICIA                      300933.0  12431.27
            AGENTE DE POLICIA - PRIMEIRA C        4497216.0  36179.16
            PRIMEIRO SARGENTO                     4197216.0  32454.69
            TECNICO POL PUBL E GEST GOV            301656.0  43226.00

                                             LÍQUIDO
CPF         CARGO
***291441** AGENTE DE POLICIA               11362.07
            AGENTE DE POLICIA - PRIMEIRA C  26599.90
            PRIMEIRO SARGENTO               25580.91
            TECNICO POL PUBL E GEST GOV     32495.74

In [37]:
#Formata apenas a apresentação dos campos float
pd.set_option('display.precision', 2)
pd.set_option('float_format','{:.2f}'.format)
df_gpr_f

                                            CÓDIGO DO ÓRGÃO    BRUTO  LÍQUIDO
CPF         CARGO
***291441** AGENTE DE POLICIA                     300933.00 12431.27 11362.07
            AGENTE DE POLICIA - PRIMEIRA C       4497216.00 36179.16 26599.90
            PRIMEIRO SARGENTO                    4197216.00 32454.69 25580.91
            TECNICO POL PUBL E GEST GOV           301656.00 43226.00 32495.74